extends layout

block content
  h1= title
  p Welcome to #{title}
  script(src='https://code.jquery.com/jquery-2.1.4.js')
  script(src='./javascripts/combinatorics.js')
  script(src='./javascripts/arrange.js')
